<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Парк развлечений</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carousel.css') }}">
</head>
<body style="background: #ffba00">

<div class="textcols">
	<div class="textcols-item">
		<h3>КАЧЕЛЬ</h3>
        <a href="https://imgbb.com/"><img src="https://i.ibb.co/hDkq7Cv/image.png" alt="image" border="0" width="200px" height="150px"></a>
        <p><input type="submit" value="выбрать" onclick='location.href="info_cachel"'></p>
    </div>
	<div class="textcols-item">
		<h3>КАРУСЕЛЬ</h3>
        <a href="https://imgbb.com/"><img src="https://i.ibb.co/GC9C294/image.png" alt="image" border="0" width="200px" height="150px"></a>
        <p><input type="submit" value="выбрать" onclick='location.href="info_carousel"'></p>
	</div>
	<div class="textcols-item">
		<h3 style="font-size: 20px">КОЛЕСО ОБОЗРЕНИЯ</h3>
        <a href="https://imgbb.com/"><img src="https://i.ibb.co/cQgSQTC/image.png" alt="image" border="0" width="200px" height="150px"></a>
        <p><input type="submit" value="выбрать" onclick='location.href="info_coleso"'></p>
	</div>
    <p><input type="submit" value="Вернуться в меню" onclick='location.href="main"'></p>
</div>

</body>
</html>

