<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Парк развлечений</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/info.css') }}">
</head>
<body style="background: #ffba00">

<div class="ui-form">
<h3>КОЛЕСО ОБОЗРЕНИЯ</h3>
<h2>Механический аттракцион в виде большого вертикально установленного колеса, к ободу которого прикреплены кабинки для пассажиров. Колёса обозрения есть во многих парках развлечений и других местах.</h2>
<p><input type="submit" value="ВЕРНУТЬСЯ" onclick='location.href="attract"'></p>
</div>

</body>
</html>