<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Парк развлечений</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/info.css') }}">
</head>
<body style="background: #ffba00">

<div class="ui-form">
<h3>КАРУСЕЛЬ</h3>
<h2>Аттракцион, представляющий собой вращающуюся платформу, на которой установлены (либо подвешены к крыше, либо прикреплены к центральной стойке) сиденья, сделанные чаще всего в виде лошадок, автомобильчиков и других животных или транспортных средств.</h2>
<p><input type="submit" value="ВЕРНУТЬСЯ" onclick='location.href="attract"'></p>
</div>

</body>
</html>