<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Парк развлечений</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/info.css') }}">
</head>
<body style="background: #ffba00">

<div class="ui-form">
<h3>КАЧЕЛЬ</h3>
<h2>Аттракцион , представляющий собой разновидность карусели , в которой сиденья подвешены к вращающейся вершине карусели. В некоторых версиях, особенно в Wave Swinger, вращающийся верх карусели также наклоняется для дополнительных вариаций движения.</h2>
<p><input type="submit" value="ВЕРНУТЬСЯ" onclick='location.href="attract"'></p>
</div>

</body>
</html>