<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Парк развлечений</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body style="background: #ffba00">

<div class="ui-form">
<p><input type="submit" value="Аттракционы" onclick='location.href="attract"'></p>
<p><input type="submit" value="Билеты" onclick='location.href="ticket"'></p>
<p><input type="submit" value="Товары" onclick='location.href="shop"'></p>
</div>

</body>
</html>