<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Парк развлечений</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carousel.css') }}">
</head>
<body style="background: #ffba00">

<div class="textcols">
	<div class="textcols-item">
		<h3>ПОП-КОРН</h3>
        <a href="https://imgbb.com/"><img src="https://i.ibb.co/R6Y80g1/image.png" alt="image" border="0" width="200px" height="150px"></a>
    </div>
	<div class="textcols-item">
		<h3>КОКТЕЙЛЬ</h3>
        <a href="https://imgbb.com/"><img src="https://i.ibb.co/J3cMRXj/image.png" alt="image" border="0" width="200px" height="150px"></a>
	</div>
	<div class="textcols-item">
		<h3 style="font-size: 20px">СЛАДКАЯ ВАТА</h3>
        <a href="https://imgbb.com/"><img src="https://i.ibb.co/DkJ5F5C/image.png" alt="image" border="0" width="200px" height="150px"></a>
	</div>
    <p><input type="submit" value="Вернуться в меню" onclick='location.href="main"'></p>
</div>

</body>
</html>


