<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Парк развлечений</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body style="background: #ffba00">

<form action="" class="ui-form">
<h3>Регистрация</h3>
<div class="form-row">
<input type="text" id="email" required autocomplete="off"><label for="email">Логин</label>
</div>
<div class="form-row">
<input type="password" id="password" required autocomplete="off"><label for="password">Пароль</label>
</div>
<p><input type="submit" value="ЗАРЕГИСТРИРОВАТЬСЯ" onclick='location.href="main"'></p>
</form>

</body>
</html>