<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Парк развлечений</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body style="background: #ffba00">

<form action="" class="ui-form">
<h3>Список билетов</h3>
<div class="form-row">
    <table style="text-align: center; width: 100%">
   <tr>
    <th>Аттракцион</th>
    <th>Количество</th>
   </tr>
        <tbody>        <tr><td>Карусель</td><td>x2</td></tr>
</tbody>
    </table>
</div>
</form>
<p><input type="submit" value="Вернуться в меню" onclick='location.href="main"'></p>

</body>
</html>